# Dependencies
node_modules/
.next/

# Environment
.env
.env.local

# Prisma
prisma/migrations/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Debug
npm-debug.log*
tsconfig.tsbuildinfo

# Vercel
.vercel

# Phase 2 data (keep template files)
phase_2_files/test_data/
